.joke-container{
  background-color: rgb(29, 29, 29);
}

.card{
  display: flex;
  flex-direction: column;
  margin: auto;
  width: fit-content;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.setup{
  font-weight: 600;
}

.punchline{
  font-style: italic;
}

.btns{
  display: flex;
  margin-top: 20px;
  gap: 5px;
}

.my-btn{
  width: 200px;
  padding: 10px;
  font-size: 15px;
  background-color: var(--text);
  border: none;
  font-weight: bold;
  color: var(--base);
  transition: background-color 0.1s ease-in;
  cursor: pointer;
}

.my-btn.favorite {
  background-color: rgb(124, 214, 124);
  color: rgb(0, 0, 0); 
}

.my-btn:hover{
  background-color: var(--click);
}