body {
  background-color: var(--base);
  color: var(--text);
  font-family: 'poppins';
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column; 
}

.nav-bar{
  display: flex;
  justify-content: center;
  padding: 20px;
  gap: 30px;
}

.nav-item{
  color: var(--text);
  text-decoration: none;
  border-bottom: 1px solid;
  transition: color 0.1s ease-in;
}

.nav-item:hover{
  color: #f0f8ff;
}