.favorite-card{
  padding: 20px;
  background-color: #242424;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 220px;
}

.favorite-card-title{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.setup{
  font-weight: 600;
}

.punchline{
  font-style: italic;
}

.my-btn{
  margin-top: auto;
  width: 200px;
  padding: 10px;
  font-size: 15px;
  background-color: var(--text);
  border: none;
  font-weight: bold;
  color: var(--base);
  transition: background-color 0.1s ease-in;
  cursor: pointer;
}

.my-btn.favorite {
  background-color: rgb(124, 214, 124);
  color: rgb(0, 0, 0); 
}

.my-btn:hover{
  background-color: var(--click);
}